{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
    <form action="{{ request.path }}" method="POST">
            <label for="name">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="name">
            <label for="email">Correo electronico</label>
            <input type="email" name="email" class="form-control" placeholder="name@example.com">
            <input class="d-block my-3 btn btn-primary"type="submit" value="Registrarse">
    </form>
    {% endblock %}
</body>

</html>